<% provide(:title, 'All posts') %>
<h1>All posts</h1>
<ul>
  <% @micropost.each do |micropost| %>
    <li>
      <span class="zagolovok"><%= link_to micropost.zagolovok %></span>
      <p><span class="content"><%= micropost.content %></span></p>
      <span class="user"> Author <%= link_to micropost.user.name %></span>
      <p> <span class="timestamp">
           Posted <%= micropost.created_at %> </span> </p>
    </li>
  <% end %>
</ul>
